ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.buttons li {
    background: url(css-sprite2.gif);
    display: inline-block;
    width: 128px;
    height: 32px;
    cursor: pointer;
}

.buttons .button1:hover {
    background-position: 0 -32px;
}

.buttons .button1:active {
    background-position: 0 -64px;
}

.buttons .button2 {
    background-position: -122px 0px;
}

.buttons .button2:hover {
    background-position: -122px -32px;
}

.buttons .button2:active {
    background-position: -122px -64px;
}

.buttons .button3 {
    background-position: 0px -101px;
}

.buttons .button3:hover {
    background-position: 0px -134px;
}

.buttons .button3:active {
    background-position: 0px -164px;
}